[Unit]
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /usr/local/bin/fanspeed.py --config /etc/fanspeed_config.yaml

[Install]
WantedBy=multi-user.target